{% extends "account/auth.html" %}
{% load i18n %}

{% block content %}
<script src="https://accounts.google.com/gsi/client" async></script>
<div class="col-12" style="padding-top: 8vh;">
    <div class="mx-auto col-12" style="max-width: 768px;">
        <div class="card p-1 p-md-4">
            <div class="card-body">
                <div class="card-title">
                    <h1>{% trans "Iniciar Sesión" %}</h1>
                </div>
                <hr />
                <div class="col-12">
                    <form class="form-horizontal" method="post" action="." hx-boost="false">
                        
                        <input type="hidden" name="next" value="{{ NEXT }}" />
                        {% include "teacore/form.html" with form=form %}

                        <div class="row form-group">
                            <div class="col-12 mb-3 d-grid gap-2">
                                <button type="submit" class="btn btn-primary user-action">
                                    {% trans "Iniciar Sesión" %}
                                </button>
                            </div>

                            <div id="g_id_onload"
                                data-client_id="373499618898-lilaabd3o6p47jbbqefng414ancn8iuj.apps.googleusercontent.com"
                                data-context="signin"
                                data-ux_mode="popup"
                                data-login_uri="{% url 'account:auth-google' %}"
                                data-auto_select="false"
                                data-itp_support="false">
                            </div>

                            <div class="g_id_signin"
                                data-type="standard"
                                data-shape="rectangular"
                                data-theme="outline"
                                data-text="signin_with"
                                data-size="large"
                                data-logo_alignment="left">
                            </div>

                            {% if AUTH_SELF_CREATE or AUTH_SELF_RECOVERY %}
                                <hr/>
                                <div class="btn-group col-12">
                                {% if AUTH_SELF_CREATE %}
                                <div class="col-12 mb-3 d-grid gap-2">
                                    <a href="{% url 'account:register' %}" class="btn btn-primary user-action">
                                        {% trans "Registrarse" %}
                                    </a>
                                </div>
                                {% endif %}
                                {% if AUTH_SELF_RECOVERY %}
                                <div class="col-12 mb-3 d-grid gap-2">
                                    <a href="{% url 'account:recovery' %}{% if form.data.username|length > 0 %}?username={{ form.data.username }}{% endif %}" class="btn btn-danger user-action">
                                        {% trans "Recuperar Acceso" %}
                                    </a>
                                </div>
                                {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}