{% extends "account/auth.html" %}
{% load i18n %}

{% block content %}
<div class="col-12" style="padding-top: 8vh;">
    <div class="mx-auto col-12" style="max-width: 768px;">
        <div class="card p-1 p-md-4">
            <div class="card-body">
                <div class="card-title">
                    <h1>{% trans "Solicitar Acceso" %}</h1>
                </div>
                <hr />
                <div class="col-12">
                    <form class="form-horizontal" method="post" action="." hx-boost="false">
                        
                        {% include "teacore/form.html" with form=form %}

                        <div class="row form-group">
                            <div class="col-12 mb-3 d-grid gap-2">
                                <button type="submit" class="btn btn-primary user-action">
                                    {% trans "Solicitar Acceso" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}